body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;


}
button{
	height: 38px;
	width: 250px;
	border: 2px solid #ecf0f1;
	
	outline: none;
	border-radius: 20px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
button:active,
button:hover{
	background-color: #2ecc71;
	color:#fff;
	transition:background-color 0.2s;
}
